<form method="post" action="{{ path('systeme_surveillance_delete', {'id': systeme_surveillance.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ systeme_surveillance.id) }}">
    <button class="btn">Delete</button>
</form>
