{% extends 'base.html.twig' %}

{% block title %}New IdentificationccpDanger{% endblock %}

{% block body %}
    <h1>Create new IdentificationccpDanger</h1>

    {{ include('identificationccp_danger/_form.html.twig') }}

    <a href="{{ path('identificationccp_danger_index') }}">back to list</a>
{% endblock %}
