<form method="post" action="{{ path('matiere_utiliser_delete', {'id': matiere_utiliser.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ matiere_utiliser.id) }}">
    <button class="btn">Delete</button>
</form>
