<form method="post" action="{{ path('critere_surveille_delete', {'id': critere_surveille.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ critere_surveille.id) }}">
    <button class="btn">Delete</button>
</form>
